.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    min-height: 100vh;
    max-height: 100%;
    position: fixed;
    z-index: 1;
}

#sidebar.active {
    margin-left: -280px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    font-family: fantasy;
    padding: 10px;
}

p#modules{
    font-family: fantasy;
    color: black;
    display: inline-block;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


.list-unstyled.components{
        overflow-x: hidden; 
        overflow-x: auto; 
}

.component{
    width: 80%;
    border-radius: 30px;
    margin: 0 auto;
    background-color: grey;
}

.drop-zon{
    margin: 40px;
    border-radius: 30px;
    width: 100%;
    margin-left: 320px;
}
.drop-zone.x1 {
    background-color: #ccc;
    float: right;
    min-height: 300px;
    height: 200px;
    position: relative;
    width: 100%;
  }

  .drop-zone.x2 {
    background-color: #ccc;
    float: right;
    min-height: 300px;
    height: 200px;
    position: relative;
    width: 100%;
  }
  .drop-zone.x3 {
    background-color: #ccc;
    float: right;
    min-height: 300px;
    height: 200px;
    position: relative;
    width: 100%;
  }

  .drop-zone.x1 > .dragger.drag-style.cd{
      width: 100%;
      height: 100%;
      background-color: rgb(240, 248, 255);
      margin: 0;
      border-radius: 0px;
      border-bottom: none;
  }

  .drop-zone.x2 > .dragger.drag-style.cd{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    border-radius: 0px;
    border-bottom: none;
}
  .drop-zone.x3 > .dragger.drag-style.cd {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 248, 255);
    margin: 0;
    border-radius: 0px;
    border-top: none;
}

  .cd{
      background-color: white;
      height: 90px;
      border-radius: 10px;
      margin: 10px;
      text-align: center;
      padding: 30px;
  }

  /* table:nth-child(1)
  {
      display: none;
  } */

  li > .dragger.drag-style.cd > #table{
      display: none;

  }

